<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productSQL">

 	<select id="getDTO" parameterType="String" resultType="product">
 		select * from product where name=#{name}
 	</select>

	<select id="getColor" parameterType="String" resultType="String">
 		select productName from productdetail where productname like #{name}
 	</select>
 	
 	<select id="getCount" parameterType="String" resultType="Int">
 		select sum(productcount) from productdetail where productname=#{name}
 	</select>
 	<select id="getThumb" resultType="product">
 		select * from product where thumbsup <![CDATA[>=]]> 0
 	</select>
 	<update id="orderCountDown" parameterType="java.util.Map">
		update productdetail set productcount=productcount-#{count} where productname=#{name}
	</update>
	<update id="likeUp" parameterType="String">
		update product set thumbsup=thumbsup+1 where name=#{name}
	</update>
</mapper>